Source: keepassxc
Section: utils
Priority: optional
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Rules-Requires-Root: no
Build-Depends: asciidoctor,
               cmake,
               debhelper-compat (= 13),
               libargon2-0-dev,
               libbotan-2-dev (>=2.12.1),
               libusb-1.0-0-dev,
               libminizip-dev,
               libpcsclite-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libqt5x11extras5-dev,
               libqrencode-dev,
               libquazip5-dev,
               libreadline-dev,
               libsodium-dev,
               libxi-dev,
               libxtst-dev,
               libykpers-1-dev,
               libyubikey-dev,
               libzxcvbn-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               qttools5-dev,
               qttools5-dev-tools,
               xauth,
               xvfb,
               zlib1g-dev
Standards-Version: 4.6.2
Homepage: https://www.keepassxc.org/
Vcs-Git: https://github.com/hnakamur/keepassxc-deb.git
Vcs-Browser: https://github.com/hnakamur/keepassxc-deb

Package: keepassxc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KeePass Cross-Platform Community Edition
 KeePassXC is a community fork of KeePassX, a native
 cross-platform port of KeePass Password Safe, with
 the goal to extend and improve it with new features
 and bugfixes to provide a feature-rich, fully
 cross-platform and modern open-source password manager.
